# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Variables de entorno
.env

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Archivos temporales de nano/vim
*.swp
*.swo
*~
